<main id="profile-page" class="profile-page container">
  <header id="profile-header" class="profile-header">
    <h2 id="profile-title">Meu perfil</h2>

    <div id="profile-actions" class="profile-actions">
      <button
        id="btn-delete"
        class="btn btn-danger"
        aria-label="Excluir perfil"
      >
        Delete
      </button>
      <button id="btn-logout" class="btn" aria-label="Logout">Logout</button>
    </div>
  </header>

  <div id="profile-body" class="profile-body">
    <div id="profile-left" class="profile-column">
      <div class="profile-item" id="item-nome">
        <label for="nome">Nome:</label>
        <p id="nome">Empresa do Beltrano</p>
      </div>

      <div class="profile-item" id="item-email">
        <label for="email">Email:</label>
        <p id="email">empBeltrano@gmail.com</p>
      </div>

      <div class="profile-item" id="item-estado">
        <label for="estado">Estado:</label>
        <p id="estado">DF</p>
      </div>

      <div class="profile-item" id="item-cep">
        <label for="cep">CEP:</label>
        <p id="cep">70760-808</p>
      </div>

      <div class="profile-item" id="item-pais">
        <label for="pais">País:</label>
        <p id="pais">BR</p>
      </div>
    </div>

    <div id="profile-right" class="profile-column">
      <div class="profile-item" id="item-cpf">
        <label for="cpf">CNPJ:</label>
        <p id="cpf">12345678909876</p>
      </div>

      <div class="profile-item" id="item-descricao">
        <label for="descricao">Descrição:</label>
        <p id="descricao">Sou uma empresa massa</p>
      </div>

      <div class="profile-item" id="profile-competencias">
        <label for="competencias">Competências:</label>
        <ul id="competencias" class="skills">
          <li class="skill" id="skill-python">Python</li>
          <li class="skill" id="skill-java">Java</li>
          <li class="skill" id="skill-linux">Linux</li>
        </ul>
      </div>
    </div>

    <div class="list-candidatos" id="list-candidatos-container">
      <h2 for="candidatos">Candidatos Disponíveis</h2>

      <div class="candidato-div">
        <label for="nome">Nome:</label>
        <p id="nome-candidato">Anonimo</p>

        <label for="descricao">Descrição:</label>
        <p id="descricao-candidato">Sou engenheiro há 90 anos</p>

        <div class="profile-item" id="candidato-competencias">
          <label for="competencias">Competências:</label>
          <ul id="competencias-candidato" class="skills">
            <li class="skill" id="skill-python">Python</li>
            <li class="skill" id="skill-java">Java</li>
            <li class="skill" id="skill-linux">Linux</li>
          </ul>
        </div>
      </div>

      <div class="candidato-div">
        <label for="nome">Nome:</label>
        <p id="nome-candidato">Anonimo</p>

        <label for="descricao">Descrição:</label>
        <p id="descricao-candidato">Sou engenheiro há 90 anos</p>

        <div class="profile-item" id="candidato-competencias">
          <label for="competencias">Competências:</label>
          <ul id="competencias-candidato" class="skills">
            <li class="skill" id="skill-python">Python</li>
            <li class="skill" id="skill-java">Java</li>
            <li class="skill" id="skill-linux">Linux</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
