
    <main id="profile-page" class="profile-page container">
        <header id="profile-header" class="profile-header">
          <h2 id="profile-title">Meu perfil</h2>

          <div id="profile-actions" class="profile-actions">
            <button id="btn-delete" class="btn btn-danger" aria-label="Excluir perfil">Delete</button>
            <button id="btn-logout" class="btn" aria-label="Logout">Logout</button>
          </div>
        </header>

        <div id="profile-body" class="profile-body">
          <div id="profile-left" class="profile-column">
            <div class="profile-item" id="item-nome">
              <label for="nome">Nome:</label>
              <p id="nome">Fulano</p>
            </div>

            <div class="profile-item" id="item-email">
              <label for="email">Email:</label>
              <p id="email">fulano@gmail.com</p>
            </div>

            <div class="profile-item" id="item-estado">
              <label for="estado">Estado:</label>
              <p id="estado">DF</p>
            </div>

            <div class="profile-item" id="item-cep">
              <label for="cep">CEP:</label>
              <p id="cep">70760-808</p>
            </div>

            <div class="profile-item" id="item-idade">
              <label for="idade">Idade:</label>
              <p id="idade">28</p>
            </div>
            
          </div>

          <div id="profile-right" class="profile-column">
            <div class="profile-item" id="item-cpf">
              <label for="cpf">CPF:</label>
              <p id="cpf">123.456.789-10</p>
            </div>

            <div class="profile-item" id="item-descricao">
              <label for="descricao">Descrição:</label>
              <p id="descricao">Sou um carinha massa</p>
            </div>

            <div class="profile-item" id="profile-competencias">
              <label for="competencias">Competências:</label>
              <ul id="competencias" class="skills">
                <li class="skill" id="skill-python">Python</li>
                <li class="skill" id="skill-java">Java</li>
                <li class="skill" id="skill-linux">Linux</li>
              </ul>
            </div>
          </div>

          <div class="list-vagas" id="list-vagas-container">
            <h2 for="vagas">Vagas</h2>

            <div class="vaga-div" id="vaga-empresaX">

              <label for="nome-empresa">Nome da Empresa:</label>
              <p id="nome-empresa">Anônimo</p>

              <label for="nome-vaga">Título da Vaga:</label>
              <p id="nome-vaga">Engenheiro DevOps</p>

              <label for="descricao-vaga">Descrição da Vaga:</label>
              <p id="nome-empresa">Necessitamos de um Engenheiro DevOps com 5 anos de exp</p>
              
              <div class="profile-item" id="vaga-competencias">
                <label for="competencias">Competências:</label>
                <ul id="competencias-vaga" class="skills">
                  <li class="skill" id="skill-python">Python</li>
                  <li class="skill" id="skill-java">Java</li>
                  <li class="skill" id="skill-linux">Linux</li>
                </ul>
              </div>

            </div>

            <div class="vaga-div" id="vaga-empresaX">

              <label for="nome-empresa">Nome da Empresa:</label>
              <p id="nome-empresa">Anônimo</p>

              <label for="nome-vaga">Título da Vaga:</label>
              <p id="nome-vaga">Engenheiro DevOps</p>

              <label for="descricao-vaga">Descrição da Vaga:</label>
              <p id="nome-empresa">Necessitamos de um Engenheiro DevOps com 5 anos de exp</p>
              
              <div class="profile-item" id="vaga-competencias">
                <label for="competencias">Competências:</label>
                <ul id="competencias-vaga" class="skills">
                  <li class="skill" id="skill-python">Python</li>
                  <li class="skill" id="skill-java">Java</li>
                  <li class="skill" id="skill-linux">Linux</li>
                </ul>
              </div>

            </div>

          </div>


        </div>
      </main>